<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Η οδοντίατρος</h2>
        <p class="lead">Η Μαρία Στεργίου γεννήθηκε και μεγάλωσε στο Σουφλί ΈΒρου.</p>
        <p class="lead">Το 2001 αποφοίτησε από την Οδοντιατρική Σχολή του Αριστοτελείου Πανεπιστημίου Θεσσαλονίκης με βαθμό Λιάν Καλώς. Παρακολούθησε από το 2001 εώς το 2003 το Mεταπτυχιακό Οδοντικής Χειρουργικής του ΑΠΘ.</p>
        <p class="lead">Από το 2004 διατηρεί οδοντιατρείο στην Αλεξανδρούπολη.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
